<h1>Please sign in:</h1>

<div align="center">
	<%= form_tag sign_in_path do %>
    <%= label_tag :surname %>
	  <%= text_field_tag :parent_last_name, params[:parent_last_name] %><br/>
	  <br>
		<%= label_tag :password %>
		<%= password_field_tag :password %><br/>
	  <br>
		<%= submit_tag "Sign In" %>
	<% end %>
</div>