<h1>Families</h1>

<% @families.each do |family| %>
  <table class="family_table">
    <tr>
      <td>
        <%= link_to family.parent_first_name, family %>
        <%= link_to family.parent_last_name, family %> &
        <%= link_to family.spouse_name, family %> :
      </td>
      <td><%= family.phone %></td>
      <td><%= family.address %></td>
    </tr>
  </table>
<% end %>

<%= link_to "Add a family", new_family_path %>