<div class="family_show">
<%= @family.parent_first_name %> & 
<%= @family.spouse_name %>
<%= @family.parent_last_name %>
<br>
<%= @family.phone %>
<%= @family.address %>
</div>

<%= link_to "Add a child to this family", new_child_path %>