<h1 align="center">Please sign in!</h1>

<div align="center">
<%= form_tag do %>
	<%= label_tag :last_name %>
	<%= text_field_tag :parent_last_name %>
	<br>
	<%= label_tag :password %>
	<%= password_field_tag :password %>
	<br>
	<%= submit_tag "Check In!" %>

<% end %>
</div>

