<h1>Please sign in!</h1>

<div class="family_check_in_out_form">
  <%= form_for @check do |f| %>

    <%= f.label :family_id %>
    <%= f.text_field :family_id %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Confirm!" %>

  <% end %>
</div>