<h1>Check-in/out here!</h1>

<div id="check-in-out-form">
	<%= form_for @check do |f| %>
		<%= f.hidden_field :family_id %>
		<%= f.label :child_id %>
    	<%= f.collection_select :child_id, current_family.children, :id, :child_first_name %>
    <br>
    <%= f.label :program_id %>
    <%= f.collection_select :program_id, Program.all, :id, :program_name %>
		<br>
		<%= f.submit %>
	<% end %>
</div>