<h1>Check-in/out here!</h1>

<div align="center">
	<%= form_for @check do |f| %>
		<%= f.hidden_field :family_id %>
		<%= f.label :child_id %>
    	<%= f.collection_select :child_id, current_family.children, :id, :child_first_name %>
    <br>
    <%= f.label :program_id %>
    <%= f.collection_select :program_id, Program.all, :id, :program_name %>
		<br>
    <%= f.submit "Check in/out" %>
	<% end %>
</div>

<br>

<% if current_family.checks.present? %>
  <div>
    Children currently checked in:<br>
    <span>
        <% current_family.children.each do |child| %>
          <% if child.checks.last.checked_in == true %>
            <%= child.child_first_name %>
            <%= child.child_last_name %> - 
            <%= child.checks.last.program.program_name %>
            <br>
          <% end %>
        <% end %>
    </span>
  </div>
<% end %>