<!DOCTYPE html>
<html>
<head>
  <title>Check In/Out</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<% if signed_in? %>
  <div id="admin_out"><%= link_to "Admin Logout", destroy_admin_user_session_path, method: :delete %></div>
<% else %>
  <div id="admin_in"><%= link_to "Admin Login", new_admin_user_session_path %></div>
<% end %>
  
    <% if current_family %>
	<div id="family">
		Welcome, <%= current_family.parent_last_name %> family! |
		<%= link_to "Sign Out", sign_out_path %>
	</div>
<% end %>
  <div class="clear"></div>
  
<!--  <div class="logo"> -->
<!--  <%= image_tag "logo-ymca.jpg" %> -->
<!--  </div> -->
  


<%= yield %>





</body>
</html>
