<!DOCTYPE html>
<html>
<head>
  <title>YMCA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= image_tag "logo-ymca.jpg" %>

<%= yield %>

<% if current_family %>
	<div align="left">
		Welcome, <%= current_family.parent_last_name %> family! |
		<%= link_to "Sign Out", sign_out_path %>
	</div>
<% end %>

<% if signed_in? %>
  <div align="right"><%= link_to "Admin Logout", destroy_admin_user_session_path, method: :delete %></div>
<% else %>
  <div align="right"><%= link_to "Admin Login", new_admin_user_session_path %></div>
<% end %>

</body>
</html>
